// poora dashboard component

:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; // as 3 columns ha

  //   boht width lerhy
  max-width: 1000px;

  gap: 1.5rem 2rem;
}

// audience chart wala 2 rows py span huna chae
app-audience-chart {
  grid-row: 2/4;
  height: max-content;
}

app-subscribers-watchtime-chart,
app-views-revenue-chart {
  grid-column: 2/4;
}
