:host {
  display: block;
  width: 250px;
  height: 100%;
  padding: 0.5rem;
  overflow: hidden;
}

h2 {
  width: 200px;
  //   left right sy auto to get it in center
  margin: 0.5rem auto 1rem;
  text-align: center;
  // border-radius: 10px;
  // padding: 0.75rem;
  // box-shadow: 5px 5px 7px #b2b2b2, -5px -5px 7px #fcfcfc;
}

ul {
  li {
    // border: 1px solid black;
    padding: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 8px;

    &:hover {
      cursor: pointer;
      background-color: var(--light-black);
    }

    &.active {
      cursor: pointer;
      background-color: var(--light-black);
    }

    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }

    // Bachi huwi jagah poori poori le lega
    .data {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      font-weight: 500;
    }
  }
}
